:host{
  text-align:center;
  display: grid;
  height: 100%;
}

.mainPage{
 height: 100%;
}

.UpperBlock{
  display: flex ;
  flex-direction: column ;
  flex-wrap: wrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
  height: 50%;
}

.UpperBlock img{
  width: 100px;
  user-select: none;
  pointer-events: none;
}


.MiddleBlock{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 30%;
  background-color: #e0e0e0;
  border: #7d7d7d solid;
  border-width: 1px 0 1px 0;
}

.LowerBlock{
  margin-top: 25px;
}


.author{
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  margin: 0 3% 0 3%;
}
