<div class="mainPage" *ngIf="cs.pageArea == 0">
  <div class="highBlock">
    <h1>{{ title }}</h1>
    <h2>Property & Privacy today and tomorrow.</h2>
  </div>
  <div class="btnArea">
    <button mat-stroked-button (click)="this.clickOnEncryption()">Encryption</button>
    <button mat-stroked-button (click)="this.clickOnDecryption()">Decryption</button>
  </div>


</div>

<app-encryption-page *ngIf="cs.pageArea == 1"></app-encryption-page>
<app-decryption-page *ngIf="cs.pageArea == 2"></app-decryption-page>

