<div class="upperPanel">
  <button mat-raised-button (click)="backToMainMenu()">Back Button</button>
  <h3>{{this.appTitle}}</h3>
</div>
<div class="middlePanel">
  <h1>{{this.pageProcess}}<br>System</h1>
</div>
<div class="cryptionArea">
  <div class="firstText">
    <mat-form-field>
      <mat-label>Insert your text here: </mat-label>
        <textarea #inputAreaText
                  matInput cdkTextareaAutosize
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"
                  placeholder="{{this.pageProcess}} Area"
                  [(ngModel)]="this.inputText"></textarea>
    </mat-form-field>
  </div>
  <!--Arrow Area-->
  <!--<div>
    <div>{{this.pageProcess}}</div>
    <div class="arrow">arrow</div>
  </div>-->
  <div class="secondText">
    <mat-form-field>
      <label></label>
      <textarea #outputTextArea matInput cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                placeholder="Result Text" [value]="this.EncryptingData(this.inputText, this.cryptingSize)" disabled></textarea>
    </mat-form-field>
  </div>
</div>
<div class="lowerPanel">
  <button mat-raised-button *ngIf="this.inputText != ''" (click)="this.copyTextToClipboard(outputTextArea)" value="click to copy" >Copy from Textbox</button>
  <button mat-raised-button>Quit App</button>
</div>



