:host{

}

.upperPanel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 12%;
  margin: 0 3% 0 3%;
}

.middlePanel{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cryptionArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 58%;
}

.arrow{
  pointer-events: none;
}

.secondText textarea{
  user-select: none;
}
