<div class="upperPanel">
  <button mat-raised-button (click)="backToMainMenu()">Back Button</button>
  <div class="titleUpperPanel">
    <img src="{{this.appLogoLink}}">
    <h3>{{this.appTitle}}</h3>
  </div>
</div>
<div class="middlePanel">
  <h1>{{this.pageProcess}}<br>System</h1>
</div>
<div class="cryptionArea">
  <div class="firstText">
    <mat-form-field  appearance="outline">
      <mat-label>Insert your text here: </mat-label>
        <textarea #inputAreaText
                  matInput cdkTextareaAutosize
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"
                  placeholder="{{this.pageProcess}} Area"
                  [(ngModel)]="this.inputText"></textarea>
    </mat-form-field>
  </div>
  <!--Arrow Area-->
  <div class="arrow">
    <div>{{this.pageProcess}}</div>
    <img width="30px" src="{{ this.arrowImgLink }}">
  </div>
  <div class="secondText">
    <mat-form-field  appearance="outline">
      <label></label>
      <textarea #outputTextArea matInput cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                placeholder="Result Text" [value]="this.EncryptingData(this.inputText, this.cryptingSize)" disabled></textarea>
    </mat-form-field>
  </div>
</div>
<div class="lowerPanel">
  <button mat-raised-button *ngIf="this.inputText != ''" (click)="this.copyTextToClipboard(outputTextArea)" value="click to copy" >Copy to clipboard</button>
  <button mat-raised-button (click)="this.cs.quitApp()">Quit App</button>
</div>



